body {
    background-color: black;
    color: cyan;
    font-family: 'Courier New', Courier, monospace;
}



.page {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.weaponChoices {
    display: flex;
    flex-grow: 1;
    width: 80%;
    justify-content: space-between;
}
.status { 
    font-size:x-large;
    font-weight: bolder;;
}

.outcome {
    font-size:xx-large;
}
.weaponMenu {
    display: flex;
    justify-content: center;
}

.weapon {
    width: 200px;
    height: 200px;
    margin: 40px;
    border: dashed cyan; 
    text-align: center;
    line-height: 200px; 
    font-size: large;
    background-color: black;
    color: cyan;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out;

}

.weapon:hover {
    color: white;
    box-shadow: 0 0px 10px white;
    border-color: white;
}

.weapon:active {
    background-color: white;
}

.scoreRow {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    font-size: large;
    
}

#overlay {
    display: none; 
    height: 100%;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

#overlayContent {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }

#restartBtn {
    background-color: black;
    border: dashed cyan;
    margin: 20px;
    color: cyan;
    width: 150px;
    height: 75px;
    font-size: large;

}